<!doctype html>
<html ng-app='ShoppingListApp'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="angular.min.js"></script>
        <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app="ShoppingListApp">
  <div class="container">
  <h1><i>Shopping List Check Off :) </i></h1>

  <div class="row"  ng-controller='ShoppingListAddController as itemAdder'>

    <!-- To Buy List -->
    <div class="col-md-6">
     <h2>To Buy:</h2>
     <ol>
       <li ng-repeat="item in itemAdder.toBuy">Buy {{item.quantity}} of {{item.name}}  <button class="btn btn-primary" ng-click="itemAdder.removeItem($index);" >Bought</button></li>

     </ol>

<div ng-if="itemAdder.message" class="emptyMessage">Error: {{itemAdder.message}}</div>

</div>


    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='ShoppingListShowController as showList'>
     <h2>Already Bought:</h2>
     <ol>
       <li ng-repeat="item in showList.bought">Bought {{item.quantity}} of {{item.name}}</li>
     </ol>

     <div ng-if="itemAdder.messages"  class="emptyMessage">Error: {{itemAdder.messages}}</div>

          <!--    <div class="emptyMessage">Nothing bought yet.</div> -->
         </div>

    </div>
  </div>
</div>

</body>
</html>
